<div class="text-center margin-bottom15">
  <%= image_tag avatar_url(user), alt: 'Trainer Picture', size: '24', class: 'user-thumbnail' %> <h5><%= user.name %></h5>
</div>
<p><%= user.bio %>
<%= link_to 'See Profile', user %>
</p>

