<div class="container-fluid background-color">
  <p id="notice"><%= notice %></p>
  <div class="pad-40"></div>
  <div class="container profile">
    <div class="col-xs-3">
      <ul>
        <li>Edit Profile</li>
        <li>Recommend a Program</li>
        <li>Change Password</li> 
      </ul>
    </div>
    <div class="col-xs-9">
    </div>

  </div>
</div>

