<div class="container-fluid user-profile">
  <div class="container-fluid background-white">
    <div class="container">
      <div class="profile-header col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <%= image_tag avatar_url(@user, 120), alt: '', class: "img-circle avatar avatar-original text-center", size: '120' %>
        <h3><%= @user.name %></h3>
        <p><%= @user.bio %></p>
      </div>
      <%= link_to  edit_user_path(current_user), class: 'btn-reg pull-right' do %>
        <i class="fa fa-cog"> </i> Edit Profile
      <% end %>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <p>fldksjflk</p>
    </div>
  </div>
</div>
