<%= simple_form_for @customer, url: user_customer_path(@user), html: { class: 'form-horizontal' } do |f| %>
  <% [:first_name, :last_name, :email, :company, :website, :phone, :fax].each do |attribute| %>
    <%= f.input attribute %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to 'Cancel', user_path(@user), class: 'btn' %>
  </div>
<% end %>
<% content_for :javascript do %>
  <script>
    
    BraintreeData.setup("#{BraintreeRails::Configuration.merchant_id}", "braintree-transaction-form", BraintreeData.environments.sandbox)

  </script>
<% end %>

