@import "breakpoint";

.nav {
  font-size: 13px;
}
.navbar {
  margin-bottom: 0;
}

.main-logo {
  width: 150px;
  padding-top: 3px;
}
.navbar-default {
  background-color: #fff;

  .navbar-nav > li > a {
   color: $text-color;
 }
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a {
  font-size: 1.3em;
  color: #616161;
}

.blue-font {
  color: $text-color !important;
}

.link-color {
  color: $light-blue;
  &:hover {
    color: darken($light-blue, 5%);
    text-decoration: none;
  }
}


footer {
  p > a , p > a:visited{
    color: $light-blue;
    
  }
  h4 {
    font-size: 2.2em;
  }
  font-size: 10px;
  border-top: 1px solid #979797;
  text-align: center;
  .fa-stack {
    color: #B2B2B2;
    font-size: 1.5em;
    &:hover {
      background-color: transparent;
      color: gray;
    }
    height: 30px;
    width: 30px;
  }
  .table {
    width: 40%;
    margin: 0 auto 20px auto;
    td {
      font-size: 1.2em;
      border-top: 0 !important;
      padding: 2px !important;
      a:hover {
        background-color: transparent;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

//homepage
#main {
  background-image: image-url('desktop-background.jpg');
  @include breakpoint(1px 600px) {
    background-image: image-url('mobile-background.jpg');
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  text-align: center;
  color: white;
  h1 {
    font-size: 7em;
    position: relative;
    margin-top: 150px;
  }
  h2 {
    color: #D4D2D2;
    font-size: 3.4em;
  }
}

.margin-zero {
  margin: 0;
}

.programs {
  margin: 0;
  background-color: $background-color;
  h3 {
    color: $grayish;
    text-align: center;
  }
  .individual-programs > div {
    padding: 0;
    border-radius: 5px;
    width: 29%;
    min-height: 245px;
    margin: 1% 2%;
    .program-holder {
      width: 85%;
      margin: 15px;
      background-color: #fff;
      a:hover {
        text-decoration: none;
      }
    }
    .program-header{
      height: 160px;
      background-position: center;
      background-size: cover;
    }
    .program-content {
      h4 {
        color: $light-blue;
        font-size: 2.5em;
      }
      table {
        td{
          font-size: 1.2em;
        }
        td:nth-child(2){
          width: 50%;
          text-align: center;
        }
        td:nth-child(3),td:nth-child(1) {
          width: 25%;
        }
        td:nth-child(3) {
          text-align: right;
          padding-right: 15px;
        }
        td:nth-child(1){
          padding-left: 15px;
        }
        width: 100%;
      }
      height: 75px;
    }
  }
}

.line-divider {
  border: 1px solid #E4E4E4;
  margin-top: 10px;
  margin-bottom: 15px;
}

.user-thumbnail {
  height: 44px;
  width: 44px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid gray;
}

.margin-bottom15 {
  margin-bottom: 15px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.standard-button {
  background-color: $light-blue;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  color: white;
  font-size: 2.5em;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#selling-points {
  img {
    height: 100px;
    margin: 25px 0 10px 0;
  }
  h4{
    font-size: 2.5em;
    margin-top: 20px;
    color: $grayish;
  }
  h5 {
    font-size: 2em;
    color: $grayish;
  }
  p {
    color: $light-gray;
    font-size: 1.5em;
    margin-bottom: 40px;
  }
}


.font-18 {
  font-size: 1.8em;
}

.font-30 {
  font-size: 3em;
}

.font-25 {
  font-size: 2.5em;
}

.font-24 {
  font-size: 2.4em;
}

.font-12 {
  font-size: 1.2em;
}

.font-14 {
  font-size: 1.4em;
}

.font-17 {
  font-size: 1.7em;
}

.width-100 {
  width: 100%;
}

.width-15 {
  width: 15%;
}

.lighter-gray {
  color: #929090;
}

.font-light {
  font-weight: 300;
}

.display-inline{
  display: inline-block
}

.difficulty-easy, .difficulty-medium, .difficulty-hard {
  background-image: image-url('difficulty-sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 51px;
}

.difficulty-medium {
  background-position: 0 -13px;

}
.difficulty-hard {
  background-position: 0 -26px;
}

.progress-bar-warning {
  background-color: #F5A623;
}

.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
}
.progress {
  border-radius: 5px;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
}

.progress-referral {
  border-radius: 5px;
  span {
    position: relative;
    top: 25%;
    font-size: 1.5em;
  }
}

.dark-gray {
  color: #4D4D4D;
}

.pad-40 {
  padding: 20px;
}

.pad-50{
  padding: 25px;
}

.background-color {
  background-color: #F6F3F3;
}

.side-divider {
  border-bottom: 1px solid $gray;
  margin: 15px 0;
}

.navbar {
  z-index: 110;
}

.background-white {
  background-color: #fff !important;
}

.pad20 {
  padding: 10px;
}

.btn-reg {
  background-color: #F6F3F3;
  border-radius: 5px;
  color: #333;
  padding: 5px;
  font-size: 14px;
  border: 1px solid gray;
  margin: 10px;
  &:hover {
    background-color: darken($background-color, 5%);
    color: darken(#333, 5%);
    text-decoration: none;
  }
}

.pad40 {
  padding: 20px 0 20px 0;
}