// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//INDIVIDUAL PROGRAMS PAGE

.individual-program-overview {
  background-color: $background-color;
  font-family: Helvetica Neue, Helvetica, Arial;
  a {
    color: $light-blue;
    &:hover {
      color: darken($light-blue, 5%);
      text-decoration: none;
    }
  }
}

#overview {
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0 50px;
  h2 {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

#pitch {
 
  font-family: Helvetica Neue, Helvetica, Arial;
  padding: 0 13px;
  font-weight: 300;
  border-radius: 5px;
  background-color: #fff;
  span, p {
    font-size: 16px;
  }
  img {
    margin-right: 10px;
  }
  h5 {
    font-size: 2em;
    font-weight: 400;
    display: inline-block;
  }
  button {
    height: 55px;
  }
}

.program-section {
  margin-bottom: 50px;
  i {
    color: #B9B9B9;
    font-size: 1.3em;
    margin-right: 10px;
  }
  th {
    color: #474747;
    font-size: 1.8em;
    font-weight: 300;
    background-color: #EDEDED;
    border: 1px solid lightgray;
    height: 40px;
    padding: 0 0 0 45px;
  }
  tr {
    border: 1px solid lightgray;
    td:nth-child(1){
      color: #929090;
    }
    td:nth-child(3){
      color: #757575;
    }
  }
  td {
    background-color: #fff;
    height: 40px;
    font-size: 1.6em;
  }
}



//PROGRAMS INDEX PAGE (ALL PROGRAMS PAGE)

.filter-menu {
  padding-top: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding-left: 40px;
  background-color: #fff;
  border-right: 1px solid #979797;
  h4 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.8em;
  }
  .sidemenu-list {
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    li {
      padding: 6px 0;
    }
    li:hover {
      background-color: $background-color;
    }
  }
  .input-group-btn {
    text-align: center;
    button {
      width: 80%;
      border-radius: 5px !important;
      background-color: $background-color;
      font-size: 15px;
      padding: 4px;
    }
    .dropdown-menu {
      left: 10%;
      li {
        font-size: 11px;
      }
    }
  }
}

.program-index {
  padding-left: 80px;
  form {
    padding: 0;
    .input-group {
      width: 80%;
    }
  }
  
  #search-programs {
    border-radius: 10px 0 0 10px;
  }
  h1{
    font-weight: 600;
    font-size: 3.6em;
    margin: 30px 0 25px 0;
  }
}

.subscriptions {
  h4 {
    font-size: 20px;
  }
  .progress {
    margin: 10px 10px 5px 10px;
    height: 13px;
  }
  p {
    font-size: 12px;
    margin: 0px 10px;
  }
}

