// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.only-bottom-margin {
  margin-top: 0px;
}

.activity-mini {
  padding-right: 15px;
  float: left;
}

.profile-settings {
	background-color: #fff;
	padding-left: 0;
	color: #575757;
}

.profile-settings-menu {
  min-height: 900px;
  padding: 30px 0 0 0px;
  text-align: center;
  .active {
	background-color: #e8e8e8;
	a {
		color: $light-blue !important; 
	}
  }
  img {
  	margin-bottom: 25px;
  }
  ul {
  	text-align: left;
  	li:first-child {
  		border-top: 1px solid $gray;
  	}
  	li{
  		margin-top: 0;
  		border-bottom: 1px solid $gray;
  		padding-left: 15px;
  		font-size: 16px;
  		height: 50px;
  	}
  	a {
  		padding: 0;
  		line-height: 50px;
  		color: gray;
	    &:hover {
    	  color: $light-blue;
    	  background-color: transparent !important;
	    }
	    &:focus {
    	  background-color: transparent;
	    }
  	}
  }
}

.profile-settings-content {
  min-height: 900px;
  padding: 30px 25px 0 25px;
  border-left: 1px solid $gray;
  h1 {
  	font-size: 2.5em;
  	margin-bottom: 25px;
  	border-bottom: 1px solid $gray;
  	margin-top: 0;
  }
  .control-label {
  	font-size: 1.6em;
    display: inline-block;
    width: 20%;
    text-align: left;
    padding-left: 15px;
    vertical-align: top;
  }
  #program {
    .control-label {
    width: 29%;
    }
    h1 {
      font-size: 2.2em;
    }
  }

  #password {
    .control-label {
      width: 32%;
    }
  }

  #user_website {
    margin-bottom: 25px;
  }
  input, textarea, select {
  	display: inline-block;
    width: 60%;
    margin-right: auto;
  }
  input.standard-button {
    width: 15%;
    height: 35px;
    padding: 5px;
    font-size: 1.6em;
    &:hover {
      background-color: darken($light-blue, 5%);
      color: #fff;
    }
  }
}
