<footer>
  <div class="container">
    <div class="col-sm-4">
      <h4>TRAIN ON MELT</h4>
      <p>Interested in earning some <br> serious money and helping <br>others out? <a href="#">Apply here</a></p>
    </div>
    <div class="col-sm-4">
      <h4>CONNECT</h4>
      <a class="fa-stack" href="#">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x"></i>
      </a>
      <a class="fa-stack"  href="#">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-pinterest-p fa-stack-1x"></i>
      </a>
      <a class="fa-stack"  href="#">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x"></i>
      </a>
      <a class="fa-stack" href="#">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x"></i>
      </a>
      <a class="fa-stack" href="#">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </a>
    </div>
    <div class="col-sm-4">
      <h4>LEARN MORE</h4>
      <table class="table table-condensed">
        <tr>
          <td><a href="#">JOBS</a></td>
          <td><a href="#">PRIVACY</a></td>
        </tr>
        <tr>
          <td><a href="#">FAQ</a></td>
          <td><a href="#">ABOUT</a></td>
        </tr>
        <tr>
          <td><a href="#">PRESS</a></td>
          <td><a href="#">TERMS</a></td>
        </tr>
      </table>
    </div>
  </div>
</footer>


<!-- email pintrest instagram facebook twitter -->